Aid Idrizović <idrizovicaid@gmail.com>
Beibin Li <BeibinLi@users.noreply.github.com>
Chris Rodgers <xrodgers@gmail.com>
Daniel E. Acuna <daniel.ernesto.acuna@gmail.com> Daniel Acuna <daniel.acuna@northwestern.edu>
Drew Harris <drew.harris.nz@gmail.com>
Eva Dyer <evadevah@gmail.com>
Giovanni De Toni <giovanni.det@gmail.com>
Hugo Fernandes <hugoguh@gmail.com> hugoguh <hugoguh@gmail.com>
Hugo Fernandes <hugoguh@gmail.com> hugoguh <hugo-fernandes@northwestern.edu>
Mainak Jas <mainakjas@gmail.com> <jasmainak@users.noreply.github.com>
Mainak Jas <mainakjas@gmail.com> <mainak.jas@telecom-paristech.fr>
Matthew Antalek <matthew.antalek@gmail.com> Matthew Antalek <matthew.antalek@northwestern.edu>
Matthew Antalek <matthew.antalek@gmail.com> Matt Antalek <matthew.antalek@gmail.com>
Mayank Agrawal <mayankagrawal96@gmail.com> timshell <magrawa1@swarthmore.edu>
Olivier Pieters <olivier.pieters@ugent.be>
Pavan Ramkumar <pavan.ramkumar@gmail.com> pavanramkumar <pavan.ramkumar@gmail.com>
Pavan Ramkumar <pavan.ramkumar@gmail.com> Pavan Ramkumar <pavan.ramkumar@northwestern.edu>
Pavan Ramkumar <pavan.ramkumar@gmail.com> pavanramkumar <pavan.ramkumar@northwestern.edu>
Peter Foley <pwfoley@gmail.com> Peter Foley (605) <peter@605.tv>
Ravi Prakash Garg <ravigarg27@gmail.com> Ravi Prakash Garg <rpg553@gmail.com>
Ravi Prakash Garg <ravigarg27@gmail.com> Ravi Prakash Garg <rpg553@fsm.northwestern.edu>
Scott Otterson <scotto@sharpleaf.org>
Talles Alves <toliveiradesouzaalv@luc.edu>
Titipat Achakulvisut <titipat.a@u.northwestern.edu>
Tommy Odland <tommy.odland@gmail.com> tommyod <tommy.odland@gmail.com>
Tommy Odland <tommy.odland@gmail.com> Tommy <10076072+tommyod@users.noreply.github.com>
Yu Umegaki <yu.umegaki@gmail.com>
Vinicius de F. Marques <vini.type@gmail.com>
Yu Umegaki <umegaki@msi.co.jp>
